<header class="am-topbar am-topbar-fixed-top">
	<div class="am-container">
		<div class="am-collapse am-topbar-collapse" id="collapse-head">
			<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right">
				<li><a href="/"><span class="am-icon-home am-icon-lg" /><span>主页</a></li>
				<li><a href="/blog"><span class="am-icon-rss am-icon-lg" /><span>Blog</a></li>
				<% if (user) { %>
				<li><a href="/post"><span class="am-icon-pencil am-icon-lg" /><span>发表</a></li>
				<li><a href="/logout"><span class="am-icon-sign-out am-icon-lg" /><span>登出</a></li>
				<% } else { %>
				<li><a title="登录" href="/login"><span class="am-icon-sign-in am-icon-lg" /><span>登录</a></li>
				<li><a title="注册" href="/reg"><span class="am-icon-user am-icon-lg" /><span>注册</a></li>
				<% } %>
			</ul>
		</div>
</header>